 body {
    font-family: helvetica;
    margin: 10px;
    width: 60%;
    margin: auto;
    color: #05445E;
}

.head {
    width: 80%;
    margin: auto;
    border: 20px solid #05445E;
    margin-top: 50px;
    margin-bottom: 50px;

}

.head h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
  
}

.langCount {
    width: 70%;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}

.radioLang {
    font-size: 15px;
    
    width: 80%;
}
.counter {
   /* //margin-left: 400px; */
   width: 20%;
    font-size: 70px;
    font-weight: bold;
    float: right;
   
}
.error {
    font-weight: lighter;
    color: red;
    text-align: center;
    font-size: 15px;
}
.formName {
    display: flex;
    width: 70%;
    margin: auto;
    padding-right: 10px;
}
.enterName {
    width: 70%;
    padding: 20px;
    border-radius:0;
    border: 1px solid #05445E;
    float: right;

}
.formName label 
{
    width: 20%;
   font-weight: bold;
   font-size: 30px;
   margin-left: 20px;
}
.l{
    font-weight: bold;
    color: peru;
}

.buttons {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.buttons .getName{
    padding: 20px;
    width: 50%;
    background-color: #05445E;
    border: #05445E;
    color: white;
    margin-right: 20px;
    float: left;
}
.buttons .clearCount{
    padding: 20px;
    width: 50%;
    background-color: #05445E;
    border: #05445E;
    color: white;
    float: right;
}
.namesGreeted {
    text-align: left;
    width: 70%;
    margin: auto;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bolder;
}
.output{
    text-align: left;
    width: 70%;
    margin: auto; 
    color: peru;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.names{
    text-align: left;
    margin-left: 130px;
    width: 70%;
    padding-top: 20px;
    font-size: medium;
    font-weight: bolder;
    color: peru;
}

