 body {
    font-family: helvetica;
    margin: 10px;
    width: 60%;
    margin: auto;
    color: #05445E;
}

.head {
    width: 80%;
    margin: auto;
    height: 150px;
    margin-top: 50px;

}

.head h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 10px solid #05445E;
}

.name {
    display: block;
}

.langCount {
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}
.lname {
    font-size: 30px;
    margin-right: 20px;
    font-weight: bold;
}

.radioLang {
    font-size: 17px;
    letter-spacing: 2px;
    width: 100%;
    margin: auto;
}

.rad {
    width: 20%;
}
.align {
    display: flex;
    width: 100%;
    /* margin: auto; */
}
.counter {
   /* //margin-left: 400px; */
    font-size: 80px;
    font-weight: bold;
    float: left;
    height: 100px;
    color: peru;
    /* padding-right: 100px; */
    /* padding-top: 15px; */
   
}
.error {
    font-weight: lighter;
    color: red;
    text-align: center;
    font-size: 17px;
}
.enterName {
    width: 100%;
    padding: 20px;
    border-radius:0;
    border: 1px solid #05445E;
    float: right;

}
.formName {
    width: 100%;
}

.l{
    font-weight: bold;
    font-size: 20px;
    color: peru;
}
.laaa {
    width: 60%;
   margin: auto;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 20px;
}

.buttons .getName{
    padding: 20px;
    width: 50%;
    background-color: #05445E;
    border: #05445E;
    color: white;
    margin-right: 20px;
    float: left;
}
.buttons .clearCount{
    padding: 20px;
    width: 50%;
    background-color: #05445E;
    border: #05445E;
    color: white;
    float: right;
}
.namesGreeted {
    text-align: left;
    width: 70%;
    margin: auto;
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-weight: bolder;
}
.output{
    text-align: left;
    width: 70%;
    margin: auto; 
    color: peru;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.names{
    /* text-align: center; */
    /* margin-left: 150px; */
    width: 70%;
    padding-top: 20px;
    font-size: medium;
    font-weight: bolder;
    color: peru;
}

@media (min-width:270px){
    .head{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
       
       

    }

    .error {
        text-align: center;
        margin-left: 20px;
    }
    .head h1 {
        font-size: 30px; 
         
    }
    .l {
        width: 150%;
    }
    .radioLang{
        display: block;
    }
    .langCount {
        display: flex ;
        width: 80%;
        margin: auto;

    }
    .counter{
        margin-top: -50px;
    }
    .formName{
        display: block;
        margin: auto;

    }
    .enterName{
        width: 100%;
        float: none;
    }
    .buttons {
        display: block;
        width: 100%;
        
    }
    .buttons .getName{
        width: 90%;
        margin-bottom: 20px;
    }
    .buttons .clearCount {
        width: 90%;
        margin-bottom: 20px;
        float: left;

    }
    .output {

    }
    .names {
        /* margin-left: 30px; */
    }
    .laaa {
        width: 90%;
    }
    
    
}

@media (min-width: 860px)
{
    .formName{
        width: 80%;
        margin: auto;
    }
    .radioLang{
        display: flex;
        width: 120%;
        margin: auto;
    }
    .buttons {
        display: flex;
        width: 90%;
        margin: auto;
        padding: 20px;
        margin-bottom: 10px;
    }
   
    .enterName{
        width: 50%;
        float: none;
    }
    .counter{
         margin-top: 0px;
         /* padding-top: 20px;  */
    }
}